.git
.gitignore
.dockerignore

**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/

**/.env
**/.env.docker
.env

_documents/
_reports/
just_for_reference/
tests/

src/models/
models/

src/processor/
src/simulators/
src/dependencies/

src/processor_service/.env
src/processor_service/.venv
src/dms_service/.env
src/dms_service/.venv
src/scheduler_service/.env
src/scheduler_service/.venv
